# vim: set ft=yaml:
# top level pillar customer abstract config.
# Status: functionnal
#

# 'wsf', is customers_top which have to be defined for your saltmaster, could be here
# or in orchestration
customers_top: wsf

wsf:
  global:
    # for web server ServerAdmin
    webmaster: someone@webmaster.com
    dbserver: database.domain.com
    # used to compute database permission from the webserver
    webserver: web.domain.com
    # you can set sub-dir in pillar, for generating for more than one customers_top
    customers_dir: some_dir_at_in_pillar_folder
  customers:
    # list elements will be used for naming users (shell, db)
    client1:
      domain_name: client1-domain.fr
      # can override webmaster here
      webmaster: client1@webmaster.com
      enabled: true
      delete: false
      # service to configure for this customer
      services:
        - webhost
        - dns
        - db
        - sftp
        - email
      email_accounts:
        # domain_name will be appended
        - fred
        - bob
        - spamtrap
        - alice
    # client2 as more default values
    client2:
      domain_name: more-domain.com
      enabled: true
      delete: false
      services:
        - webhost
        - dns
    client3:
      domain_name: somedomain.fr
      enabled: true
      # default, delete: false
      services:
        - webhost
        - dns
        - db
        - sftp
    client4:
      domain_name: somedomain4.fr
      enabled: true
      # default, delete: false
      services:
        - webhost
        - dns
        - db
        - sftp
    client5:
      domain_name: deautnsomedomain.fr
      enabled: true
      # default, delete: false
      services:
        - webhost
        - db
        - sftp
    client6:
      domain_name: client6.fr
      enabled: false
      services:
        - webhost
        - db
        - sftp
    client7:
      domain_name: client7.com
      enabled: true
      services:
        - dns
        - webhost
        - db
        - sftp
